@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
/* 
 .mockup{
    width:321px;
    height: 337px;
    background-image: url("interface.17.png");

    position: absolute;
    opacity: 0.4;
    z-index: 10;
    pointer-events: none;
}  */

h1{
    font-family: 'Raleway', sans-serif;
    color: #444444;
    margin: 0px;
    font-size: 45px;
}

h3{
    font-family: 'Raleway', sans-serif;
    color: #f37f27;
    margin: 0px;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: -3px ;
}

p{
    font-family: sans-serif;
    color: #444444;
    font-size: 13px;
   font-weight: 500;
    letter-spacing: 1.4px;
    line-height: 1.8;
}

p.cs-text{
    font-weight: 550;
    letter-spacing: 1.1px;
}

hr{
    border: 0;
    height: 1px;
    background: lightgrey;
}
 



.wrapper{ 
    /* border: 1px solid brown; */
    width:321px;
    height: 337px;
    padding: 5px 10px;
}

.title{
    padding-bottom: 10px;
}

.text{
    padding-top: 5px;
    padding-left: 3px;
}

.cs{
    padding-top: 1px; 
    padding-left: 3px;
}

.bold{
    font-weight: 700;
    letter-spacing: normal;

}

