@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
 /* .mockup{
    width:321px;
    height: 337px;
    background-image: url("interface.17.png");

    position: absolute;
    opacity: 1;
    z-index: 10;
    pointer-events: none;
}  */

h1{
    font-family: 'Raleway', sans-serif;
    color: #444444;
    margin: 0px;
    font-size: 45px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    color: #f37f27;
    margin: 0px;
    font-weight: 900;
    font-size: 35px;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #505050;
    font-size: 13.5px;
   
    letter-spacing: 1.4px;
    line-height: 1.8;
}



hr{
    border: 0;
    height: 1px;
    background: lightgrey;
}
 



.wrapper{ 
    /* border: 1px solid brown; */
    width:321px;
    height: 337px;
    padding: 5px 10px;
}

.title{
    padding-bottom: 10px;
}

.text{
    padding-top: 5px;
    padding-left: 3px;
}

.cs{
    padding-top: 1px; 
    padding-left: 3px;

}

p.cs-text {
    font-family: 'Lato', sans-serif;

}

