@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

$fontcolor: #adaeae; 
$background: #f8fbfb; 
$title-fontcolor:#4a4c4c;
$link-fontcolor: #5a8fe6;

// .mockup{
  
//     width:1033px;
//     height: 288px;
//     background-image: url("i16/normal-interface.16.png");

//     position: absolute;
//     opacity: 0.5;
//     z-index: 10;
//     pointer-events: none;


// }



h2{
    font-family: 'Heebo', sans-serif;
    color: $title-fontcolor;
    margin: 0px;
    padding-left: 35px;
}

p{
    font-family: 'Heebo', sans-serif;
    color: $fontcolor;
    padding-left: 35px;
    letter-spacing: 1.3;
}

a{
    text-decoration: none;
    color: $link-fontcolor;
    font-family: 'Heebo', sans-serif;
    padding-left: 35px;
}

img{ 
    width: 90px;
}




.wrapper{
    width:1033px;
    height: 288px;
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.security, .performance, .reliability{
//    border: 1px solid black;
    background-color: $background;
}

.per-pic, .sec-pic{
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 5px;
}

.rel-pic{
    padding-left: 25px;
    padding-top: 10px;
}

.per-text, .sec-text{
    padding-top: 10px;
}

.rel-link{
    padding-top: 23px;
}






@media (max-width: 700px){
    .wrapper{
        display: flex; 
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .performance, .security, .reliability{
        flex: 100%;
    }
}
